Mundo01/Exercicios/rain.wav
PyPI-Recovery-Codes-pompeo-2025-04-29T18_49_49.773200.txt
add-nosec.py
convert-exercicios.py
atualiza-versao-setup.py
dist/
build/
*.egg-info/
__pycache__/
.pytest_cache/
publicar.ps1
